<html>
        <head>
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        </head>
        <body>
            <div>
                <h1><i class="fa fa-rebel">
<a href="">Django Girls Blog</a></i></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>en este post voy a poner las cosas que mas me gusten</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>en este post voy a seguir poniendo mas cosas que me gustan</p>
            </div>
        </body>
    </html>